.bouton__footer 
 {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 13px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 1px white;
 
}

.bouton__footer
 {
    background-color: var(--black);
    border: none;
    color: white;
    padding: 13px 112px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid 1px white;
}

.bouton__footer__link {
  color: var(--noir);
  text-decoration: none;
  font-size: var(--footer--button);
  font-family:var(--font-main);
}

.footer__mentionlegale__deco {
  background: var(--black);
 padding: 15px 112px;
  height : 65px;
  left: 5px;
  z-index: -1;
}
  
.footer__logo {
position: relative;
width: 60.13px;
height: 55.83px;
left: 40px;
top: -75px;
  }

.footer__texte {
    position: relative;
    left: 110px;
    top: -150px;
    font-family: var(--font-main);
    font-size: 14px;
    color: var(--white);
    width: 65%;
}

